<!doctype html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Book Notes</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <%- include('partials/nav', {page : 'root'}); %>
    <div class="container bg-body-secondary mt-3 p-lg-4 py-3 rounded-5">
      <div class="container-flex p-3 m-2 bg-body-tertiary rounded-3">
        <img src="https://covers.openlibrary.org/b/olid/OL37063555M-M.jpg" class="float-lg-start d-block d-lg-inline pe-lg-5 pb-3 mx-auto" />
        <span class="h2">Title</span><span class="h3 ps-3">- Author</span> <br />
        <span class="fs-4 text-info">Post Details</span> <br />
        <span class="fs-5">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec faucibus pharetra sapien quis ultricies. Interdum et malesuada fames ac ante ipsum
          primis in faucibus. Nam vel lectus et mauris dictum iaculis. Ut a pharetra sem. Phasellus mollis leo eget nunc vulputate luctus. Fusce quis vehicula
          arcu, vel tincidunt orci. Donec mattis sem a egestas rhoncus. Donec in ligula ante. Curabitur ut augue ullamcorper, ultricies nisl et, molestie metus.
          Nam massa mi, blandit et dolor a, tempus sagittis dolor. Maecenas congue purus non ex porta, ac semper velit euismod. Cras nisi sapien, vestibulum a
          metus finibus, suscipit fermentum metus. Morbi interdum quam nec sapien mollis mattis ac nec elit. Curabitur ac malesuada tellus. Maecenas elementum
          et nunc eget interdum. Ut non euismod justo, id dignissim turpis. Donec semper arcu eu ante rhoncus sagittis. Proin hendrerit felis ut tincidunt
          tristique. Aliquam convallis, est tincidunt facilisis vulputate, tellus ex euismod sapien, eu sagittis neque sapien ut arcu. Nam rutrum, purus
          vehicula luctus hendrerit, massa dui blandit lorem, sit amet lobortis neque neque vestibulum diam.
        </span>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
